body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}

h1 {
  font-family: 'Times New Roman', serif;
  font-size: 3em;
  color: #333;
  text-align: center;
  text-shadow: 2px 2px 2px #c617d656;
  margin-bottom: 20px;
}

h2, h3, h4, h5, h6 {
  color: #343a40;
}

p {
  color: #495057;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 20px; 
  padding: 20px; 
  justify-content: center; 
  align-content: center; 
  min-height: 100vh;
}

.product-item {
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  padding: 15px;
  text-align: center;
  transition: transform 0.2s;
  border: black solid 2px;
}

.product-details{
  border: black solid 2px;
  text-align: center;
}

.product-details:hover {
  transform: scale(1.05);
  border: 2px solid;
  border-image: linear-gradient(to bottom, rgb(255, 0, 157), pink) 1;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 10px;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.btn-primary2:hover{
  background-color: #0056b3;
}

.btn-primary3:hover{
  background-color: #0056b3;
}

.btn-primary2 {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.btn-primary3 {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 10px;
}

.product-item:hover {
  transform: scale(1.05);
  border: 2px solid;
  border-image: linear-gradient(to bottom, purple, pink) 1;
}

.product-item button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 10px;
}

.product-item button:hover {
  background-color: #0056b3;
}

.cart {
  margin-top: 20px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  border: black solid 2px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.cart-total {
  text-align: right;
  font-weight: bold;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .product-list {
    grid-template-columns: 1fr;
  }

  .cart {
    margin-top: 10px;
    padding: 10px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.product-item {
  animation: fadeIn 0.5s ease-in-out;
}